# Operators

In [ ]:
+ Adition
- Subtraction
* Multiplication
/ Division
// floor Division
% Modulus
** Power

+ Adition
- Subtraction
* Multiplication
/ Division
// floor Division
% Modulus
** Power

In [2]:
2 + 5

7

In [3]:
2.0 + 5.0

7.0

In [4]:
2 + 5.0

7.0

In [5]:
"A" + "B"

'AB'

In [6]:
["Fazal", "Rahman"] + ["Ali", "Ahmed"]

['Fazal', 'Rahman', 'Ali', 'Ahmed']

In [7]:
['Fazal', 'Rahman' , 'Ali', 'Ahmed']

['Fazal', 'Rahman', 'Ali', 'Ahmed']

In [8]:
("Fazal", "Rahman") + ("Ali", "Ahmed")

('Fazal', 'Rahman', 'Ali', 'Ahmed')

In [ ]:
# Set
{"Fazal", "Rahman"} + {"Ali", "Ahmed"}

In [11]:
2 * 4

8

In [13]:
'A' * 4

'AAAA'

In [15]:
('A') * 4

'AAAA'

In [16]:
['A'] * 4

['A', 'A', 'A', 'A']

In [18]:
{A} * 4

NameError: name 'A' is not defined

In [24]:
12/4

3.0

In [22]:
print(5+2+3+4+5+6+7+8
        +9+12
      -13-15
     )

33

In [23]:
11//3

3

In [32]:
11%3

2

In [33]:
5%100

5

In [37]:
1000&500

480

In [38]:
500*480

240000

# Comparion (Relational) Operators

==
>
<
>=
<=
!=, <>

In [40]:
2 == 2

True

In [42]:
'A' == 'A'

True

In [43]:
5 > 3

True

In [44]:
5 >= 5

True

A=65 -> z=90
a=97 -> z=122
0=48 -> 9=57

In [47]:
ord("d")

100

In [48]:
chr(78)

'N'

In [49]:
"B" > "A"

True

In [51]:
3 <= 3

True

In [55]:
'fazal' != 'Rahman'

True

In [56]:
ord('F') != ord('R')

True

# Assignment Operator

=
+=
*=
/=
//=
%=

In [58]:
a = 5
a = 6
a = 7
print(a)

7

In [59]:
a = 1
a *=2
a *=3

print(a)

6

In [60]:
a = 100
a /=2
a /=2
print(a)

25.0

In [61]:
a = 100
a //=2
a //=2
print(a)

25

In [63]:
a = 21
a%= 5
print(a)

1

In [64]:
a = 25
a%= 5
print(a)

0

In [65]:
a = "A"
a += "B"
print(a)

AB

# Logicla Operators

and & 
or |
not <>,!=

In [68]:
True and True and True

True

In [70]:
user = input("UserName")
password = input("Password")

user == "Admin" and password == "123"

UserNameAdmin
Password123

True

In [73]:
user = "Admin"
password = "123"

user == input("UserName") and password == input("Password")

UserNameAdmin
Password123

True

In [ ]:
user = input("UserName: ")
mobile = input("MobileNumber: ")
password = input("Password: ")

(mobile != "03009113069" and user == "Fazal") and password == "123"

# Bitwise Operator

8,  7,  6,  4,  3,  2,  1,  0
2,  2,  2,  2,  2,  2,  2,  2
=============================
256,128,64, 32, 16, 8, 4, 2, 1

2 25 1
2 12 0
2 6 0
2 3 0
2 1 1

2 28 
2 14 0
2 7 0
2 3 1
2 1 1

& and
11100
11101
------
11110

In [1]:
28 & 29

28

In [2]:
29 | 28

29

& and
11100
11101
------
00001

In [3]:
#XOR

28 ^ 29

1

In [4]:
~29

-30

# Membership Operators

in
not in

In [6]:
names = ["Ali", "hamza", "Junaid", "Kashif"]
i = 0
while i< len(name):
    if name[i]=="junaid":
        print(True)
        break
    i +=1

NameError: name 'name' is not defined

In [7]:
names = ["Ali", "hamza", "Junaid", "Kashif"]
"ali" in name

NameError: name 'name' is not defined

In [8]:
name = input("Name: ")
name in "Pakistan"

Name: Pakistan

True

In [12]:
names = ["Ali", "hamza", "Junaid", "Kashif"]
input("Name: ") in names

Name: Ali

True

In [14]:
names = ["Ali", "hamza", "Junaid", "Kashif"]
input("Name: ") not in names

Name: Ali

False

# Identity Operator

In [15]:
a = '5'
b = 5
c = a

print(a is b)
print(a is c)

#true only if the address is same, otherwise false

False
True

In [16]:
#old stype of Identity operator
id(a) == id(c)

True

# Control Flow

if else elif

if logic:
    value_if_True
else: 
    value_if_False

In [22]:
if True:
    print("Pakistan")
else:
    print("Zindabad")
    
#----------------------
    
if False:
    print("Pakistan")
else:
    print("Zindabad")

Pakistan
Zindabad

In [2]:
user = input("name: ")
pas =  input("pwd: ")

if (user == "fazal") and pas == "123":
    print("Valid User")
else:
    print("invalid User")

name: fazal
pwd: 123
Validuser

In [ ]:
user = input("name: ")
password =  input("pwd: ")

if (user in ["fazal","Ali", "Waqas"]) and password == "123":
    print("Valid User")
else:
    print("Invalid User")