# User Defined Functions

In [1]:
# Structured Programming
def abc(): # Fuction Declaration
    print("Pakistan") # body start statement
    print("Pakistani") # Statement 2
    print("Love my country!") #body end statement
    
abc()

Pakistan
Pakistani
Love my country!

# Default Function

In [2]:
# Structured Programming
def abc(): # Fuction Declaration
    print("Pakistan") # body start statement
    print("Pakistani") # Statement 2
    print("Love my country!") #body end statement
    
abc()

Pakistan
Pakistani
Love my country!

In [5]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
id_card(1, "Fazal Ur Rahman", "Umar", "AIC", "12:00 PM to 4:00 PM")
    
id_card(1, "Fazal Ur Rahman", "Umar","12:00 PM to 4:00 PM") #TypeError: id_card() missing 1 required positional argument: 'timing'

    PIAIC Islamabad
    Student id: 1
    Name: Fazal Ur Rahman
    Father's Name: Umar
    Course: AIC
    Timing: 12:00 PM to 4:00 PM

TypeError: id_card() missing 1 required positional argument: 'timing'

# Optional Orgument

In [7]:
def pls(x,y=0,z=0):
    print(x,y,z)
    print(x+y+z)
pls(5)

5 0 0
5

In [9]:
pls(6,7)
pls(8,5,9)
pls() #TypeError: pls() missing 1 required positional argument: 'x'

6 7 0
13
8 5 9
22

TypeError: pls() missing 1 required positional argument: 'x'

# Non Return Fucntions

In [10]:
a = print("Pakistan") # print is a non return function
print(a)

Pakistan
None

In [12]:
b = pls(2,3,4) # pls is a non return function
print(b)

2 3 4
9
None

# Return Fucntions

In [15]:
def pls2(x=0, y=0, z=0):
    return x+y+z

a = pls2(7,8)
b = pls2(8,4,3)

print(a,b)

15 15

In [16]:
def pls2(x=0, y=0, z=0):
    return x+y+z #Always return fisrt return statement
    return x*y*z
    return x+y*z

a = pls2(7,8)
b = pls2(8,4,3)

print(a,b)

15 15

In [18]:
def pls2(x=0, y=0, z=0):
    return x+y+z, x*y*z, x+y*z # multiple return values are akways returend in the form of Tuple

a = pls2(7,8)

print(a)

(15, 0, 7)

# Keyword Arguments

In [19]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)


id_card(sid=1, course="AIC",sname = "Fazal Ur Rahman",fname = "Umar", timing="12:00 PM to 4:00 PM")

    PIAIC Islamabad
    Student id: 1
    Name: Fazal Ur Rahman
    Father's Name: Umar
    Course: AIC
    Timing: 12:00 PM to 4:00 PM

In [22]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)


id_card(sid=1, course="AIC",sname = "Fazal Ur Rahman",fname = "Umar", "12:00 PM to 4:00 PM")

TypeError: id_card() got multiple values for argument 'sname'

# Pass Argument by List

In [28]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
# for positional argument use the list
l1 = [8,"A","B","C","D"]
l2 = [81,"A1","B1","C1","D1"]

id_card(*l1)
id_card(*l2)

# for keyword argument use the Dictionary

    PIAIC Islamabad
    Student id: 8
    Name: A
    Father's Name: B
    Course: C
    Timing: D


    PIAIC Islamabad
    Student id: 81
    Name: A1
    Father's Name: B1
    Course: C1
    Timing: D1

In [52]:
def describe_pet(animal_type, pet_name):
    """Display information about a pet."""
    print("\nI have a " + animal_type + ".")
    print("My " + animal_type + "'s name is " + pet_name.title() + ".")

describe_pet('hamster', 'harry')

I have a hamster.
My hamster's name is Harry.

# Pass Aurgument by Dictionary

In [32]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)

# for keyword argument use the Dictionary   


d1 = {
 
    'course': 'AIC',
    'timing': '12-4',
    'sname': 'fazal',
    'fname': 'umar',
    'sid': '1'
}

id_card(**d1)

    PIAIC Islamabad
    Student id: 1
    Name: fazal
    Father's Name: umar
    Course: AIC
    Timing: 12-4

# Optional Parameters with List

In [35]:
def abc(name,*number):
    print(name)
    print(number)
    print(sum(number))

abc("Fazal", 5,8,9,0)

Fazal
(5, 8, 9, 0)
22

In [37]:
def abc(*number,name):
    print(name)
    print(number)
    print(sum(number))

abc(5,8,9,0, name = "Fazal")

Fazal
(5, 8, 9, 0)
22

# Optional Parameters with Dictionary

In [50]:
def abc(name, **keyValue):
    print(name)
    print(keyValue)
    if 'c' in keyValue.keys():
        print("Pakistan")
    else :
        print("not found")

abc('Fazal', a='aa', b='bb', c='cc')

Fazal
{'a': 'aa', 'b': 'bb', 'c': 'cc'}
Pakistan