In [1]:
print("fazal")

fazal

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [7]:
# 1. operation

5 + 8 

# 2. Operators
    
    # +, -,/ ,* ,%, 
    # = , +=, -=, /=, *=, %=
    # == , >, <, >=, <=
    
# 3. 5, 8 Oprants

13

In [8]:
#PEMDAS
5 + 7 - 8 * (2/2) +200

204.0

In [15]:
a = 8
b = 8

print(a)
print(b)

print(id(a))
print(id(b))

b +=1
print(id(a))
print(id(b))

8
8
140727312684064
140727312684064
140727312684064
140727312684096

In [16]:
a = 7
type(a)

int

In [17]:
a = 20.8
type(a)

float

In [18]:
a = False
type(a)

bool

In [19]:
a = "1"
type(a)

str

In [20]:
"1" + '1'

'11'

In [21]:
#type casting (Expilict - performed by User) while (Impilict - performed by compiler)

int('1') + int('1')

2

In [23]:
'1' + '7'

'17'

In [25]:
#operator Overloading

a = "Pakistan"
a * 2

'PakistanPakistan'

In [7]:
# List

names = ["Fazal", "Ali", 200]
#Index     -3      -2     -1
print(type(names))
print(names)
print(names[-2])

<class 'list'>
['Fazal', 'Ali', 200]
Ali

In [9]:
# Tuple
#Index      0       1      2
names = ("Fazal", "Ali", 200)
#Index     -3      -2     -1
print(type(names))
print(names)
print(names[-2])

<class 'tuple'>
('Fazal', 'Ali', 200)
Ali

In [10]:
# Set
#Index      0       1      2
names = {"Fazal", "Ali", 200}
#Index     -3      -2     -1
print(type(names))
print(names)
print(names[-2])

<class 'set'>
{200, 'Fazal', 'Ali'}

TypeError: 'set' object is not subscriptable

In [18]:
# Set
#Index      0       1      2
names = {"Fazal", "Ali", 200}
#Index     -2      -1     -3

#to get the value of a set convert it to set
names = list(names)

print(type(names))
print(names)
print(names[-3])

<class 'list'>
[200, 'Fazal', 'Ali']
200

In [25]:
#Dictionary

data = {
    
    #Key(hashable fuction must apply)   : Value (any value type)
    'name' : "Fazal Ur Rehman",
    'fname': "Umar Yar",
    5      : 'Pakistan',
    "a" : [True, "Pakistan", 20, 3.0]
}

data['name']
data[5]
data['a']

[True, 'Pakistan', 20, 3.0]

In [26]:
a = "Fazal Ur Rehman"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
a = "FaZAl UR reHMan"
print(a)
#Inline Operation
print(a.upper())

FaZAl UR reHMan
FAZAL UR REHMAN

In [30]:
a = "FaZAl UR reHMan"
print(a)


#In memory Operation
a = a.upper()
print(a)

FaZAl UR reHMan
FAZAL UR REHMAN

In [31]:
a = "          FaZAl UR reHMan     "
a

'          FaZAl UR reHMan     '

In [34]:
#Left Strip

a = "          FaZAl UR reHMan     "
print(len(a))
print(a.lstrip())
print(len(a.lstrip()))

30
FaZAl UR reHMan
20

In [35]:
#Right Strip

a = "          FaZAl UR reHMan     "
print(len(a))
print(a.rstrip())
print(len(a.rstrip()))

30
          FaZAl UR reHMan
25

In [44]:
#Both Left and Right Strip
a = "          FaZAl UR reHMan     "
print(len(a))
print(a.strip())
print(len(a.strip()))

30
FaZAl UR reHMan
15

In [45]:
# b is a list
b = a.split()
b

['FaZAl', 'UR', 'reHMan']

In [46]:
" ".join(b)

'FaZAl UR reHMan'

In [48]:
a = "we are pakistan, we love our country"
a

'we are pakistan, we love our country'

In [56]:
#Sliceing

#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]

print(a)
print(a[::])
print(a[7:15:-1]) #reverse
print(a[7:15:]) #forward

we are pakistan, we love our country
we are pakistan, we love our country

pakistan

In [57]:
print(a)
print(a.index("pakistan"))

we are pakistan, we love our country
7

In [58]:
a[a.index('pakistan'):15]

'pakistan'

In [64]:
str.isnumeric('5')
str.isnumeric('5A')

False

In [71]:
a = "kajsjshlkjkdkfjsdfdsfjsdjfld-==-"
"".join[(i for i in a if str.isnumeric(i)])

SyntaxError: invalid syntax (<ipython-input-71-05f12e23a8ce>, line 2)

In [75]:
card = """
Bahria University Islamabad
Student Name: Fazal Ur Rehman
Father Name: Umar Yar
Program: PIAIC
"""
print(card)

Bahria University Islamabad
Student Name: Fazal Ur Rehman
Father Name: Umar Yar
Program: PIAIC

In [94]:
name = "Fazal Ur Rehman"
fname = "Umar Yar"
program = "PIAIC"
s = 200

card = """
Bahria University Islamabad
Student name: %s
father name: %s
Program: %s
Score: %d
"""
print(card%(name, fname, program, s))

Bahria University Islamabad
Student name: Fazal Ur Rehman
father name: Umar Yar
Program: PIAIC
Score: 200

In [96]:
name = "Fazal Ur Rehman"
fname = "Umar Yar"
program = "PIAIC"
s = 200

card = """
Bahria University Islamabad
Student name: {}
father name: {}
Program: {}
Score: {}
"""
print(card.format(name, fname, program, s))

Bahria University Islamabad
Student name: Fazal Ur Rehman
father name: Umar Yar
Program: PIAIC
Score: 200

In [ ]:
#Assignments – Class-6 Dated (11-24-2019)
#1.Apply all str (string) operations and submit on slack group – all string data type methods
#2.Select 20 operands and perform operations and submit on slack group