# List

In [1]:
# we can save diffirent data types in list

name = ["A", "B", "C"]
print(name[2])
print(name[-1])

C
C

In [6]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
name = [] #empty list
name.append("A")
name.append("B")
name.append("C")

name.append(3)
name

['A', 'B', 'C', 3]

In [7]:
name = ['A','B','C']
print(name)
name.clear()
print(name) #once cleared you can not retrive the data back

['A', 'B', 'C']
[]

In [9]:
name = ['A','B','C']
name1 = name # shallow Copy

print("name", name)
print("name", name1)

#list value can be updated but you can't update tuple's value

name[0] = 'Pakistan'
print("name", name)
print("name", name1)

name ['A', 'B', 'C']
name ['A', 'B', 'C']
name ['Pakistan', 'B', 'C']
name ['Pakistan', 'B', 'C']

In [10]:
name = ['A','B','C']
name1 = name.copy() # Deep Copy

print("name", name)
print("name", name1)

#list value can be updated but you can't update tuple's value

name[0] = "Pakistan"
print("name", name)
print("name", name1)

name ['A', 'B', 'C']
name ['A', 'B', 'C']
name ['Pakistan', 'B', 'C']
name ['A', 'B', 'C']

In [15]:
name = ['A','B','C']
name.count("A")

1

In [18]:
l1 = [1,2,3]
l2 = [4,5,6]
print(l1+l2) # inline operation
print(l1.__add__(l2))
print(l1)
print(l2)
name.extend("A")

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]

In [19]:
l1 = [1,2,3]
l2 = [4,5,6]

print(l1)
print(l2)

l1.extend(l2) # in momory Operation

print(l1)
print(l2)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [28]:
l1 = ["A","B","C", "A", "C", "E","A","""p"""]
print(l1.index('B'))
print(l1.index('A'))
print(l1.index('A', 1))
print(l1.index('p', 1))

1
0
3
7

In [30]:
l1 = ['A', 'B','C']
l1.insert(0, "A")
l1.insert(0, "B")
l1.insert(0, "C")

print(l1)
l1.insert(1, "D")
print(l1)

['C', 'B', 'A', 'A', 'B', 'C']
['C', 'D', 'B', 'A', 'A', 'B', 'C']

In [44]:
#Using Delete Fuction

name = ['A', 'B','C','C', 'D']

del name[-1] # Return fuction
del name[-1] # Return fuction
del name[-1] # Return fuction


#A B
name

SyntaxError: invalid syntax (<ipython-input-44-5c960fe892d7>, line 7)

In [53]:
#Using Pop Fuction

l1 = []

name = ['A', 'B','C','C', 'D']

print(name) #original list

l1.append(name.pop()) # Return fuction
l1.append(name.pop()) # Return fuction
l1.append(name.pop()) # Return fuction

#A B

print(l1) # poped elements
print(name) # remaining elements

['A', 'B', 'C', 'C', 'D']
['D', 'C', 'C']
['A', 'B']

In [54]:
a = print('Pakistan')
print(a)

Pakistan
None

In [55]:
l1 = [1,2,3,4]
a = l1.pop() # by default remove from last
print(a)

4

In [56]:
#remove value by index

l1 = ["A","B","C","D"]
a = l1.pop(2) #remove from perticular index
print(a)

C

In [57]:
l1 = ["A","B","C","D"]
a = l1.pop(l1.index("B"))
print(a)

B

In [60]:
# use Remove fuction to remove element by "Value"


l1 = ["A","B","C","B","D"]
print(l1)
a = l1.remove("B") # Non Return fuction - Void type

print(l1)

['A', 'B', 'C', 'B', 'D']
['A', 'C', 'B', 'D']

In [66]:

l1 = ["A","B","C","B","D"]

print(l1)

l1.reverse() # reverse the list as it is with any order
print(l1)

l1.sort() # sort in accending order
print(l1)

l1.sort(reverse=True) # sort with decending order
print(l1)

['A', 'B', 'C', 'B', 'D']
['D', 'B', 'C', 'B', 'A']
['A', 'B', 'B', 'C', 'D']
['D', 'C', 'B', 'B', 'A']

In [73]:
l1 = ["A","B","C","B","D"]

l1.append("Fazal")
print(l1)




l2 = l1.copy()
print(l1)
print(l2)

['A', 'B', 'C', 'B', 'D', 'Fazal']
['A', 'B', 'C', 'B', 'D', 'Fazal']
['A', 'B', 'C', 'B', 'D', 'Fazal']

In [74]:
l1 = ["A","B","C","Z","Y","X"]
l1.__add__([1,2,3,4])

['A', 'B', 'C', 'Z', 'Y', 'X', 1, 2, 3, 4]

In [76]:
l1 = ["A","B","C","Z","Y","X"]
l1.__class__

list

In [77]:
l1 = ["A","B","C","Z","Y","X"]
l1.__contains__("A")

True

In [81]:
l1 = ["A","B","C","Z","Y","X"]
l1.__delattr__()

TypeError: expected 1 arguments, got 0

In [80]:
l1 = ["A","B","C","Z","Y","X"]
l1.__delitem__(1)
l1

['A', 'C', 'Z', 'Y', 'X']

In [82]:
l1 = ["A","B","C","Z","Y","X"]
l1.__doc__

'Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.'

In [89]:
l1 = [5,8,9]
l2 = [3,2,1]
l3 = [7,8,9]
l4 = [5,8,9]

print(l1.__eq__(l4))
print(l2.__ge__(l2))
print(l1.__len__())

True
True
3

# Tuple

In [90]:
l1 = ("A","B","C")
l1[0]

'A'

In [93]:
l1 = ("!","B","C")
print(l1)
l1 =("Pakistan", "B","C")

print(l1)

('!', 'B', 'C')
('Pakistan', 'B', 'C')

# Loop (While, For)

# counter
# Logic
#increment / Decrement

In [96]:
counter = 1
while counter <= 10:
    print("Pakistan: ", counter)
    counter +=1

Pakistan:  1
Pakistan:  2
Pakistan:  3
Pakistan:  4
Pakistan:  5
Pakistan:  6
Pakistan:  7
Pakistan:  8
Pakistan:  9
Pakistan:  10

In [97]:
counter = 1000
while counter >= 990:
    print("Pakistan: ", counter)
    counter -=1

Pakistan:  1000
Pakistan:  999
Pakistan:  998
Pakistan:  997
Pakistan:  996
Pakistan:  995
Pakistan:  994
Pakistan:  993
Pakistan:  992
Pakistan:  991
Pakistan:  990

In [99]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [103]:
for i in range(1,11):
    print("Number:", i)

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 6
Number: 7
Number: 8
Number: 9
Number: 10

In [105]:
# List Comprehensive

["Number"+str (i) for i in range(1,11)]

['Number1',
 'Number2',
 'Number3',
 'Number4',
 'Number5',
 'Number6',
 'Number7',
 'Number8',
 'Number9',
 'Number10']

In [112]:
["Table: "+str (i*2) for i in range(1,11)]

['2 X2',
 '2 X4',
 '2 X6',
 '2 X8',
 '2 X10',
 '2 X12',
 '2 X14',
 '2 X16',
 '2 X18',
 '2 X20']

In [144]:
user = int(input("Enter Table to Print: " ))

for r in range(1, 11):
    for t in range(1, user+1):
        print(f'{t}X{r}={r*t}', end='\t')
        
    print()

Enter Table to Print: 4
1X1=1	2X1=2	3X1=3	4X1=4
1X2=2	2X2=4	3X2=6	4X2=8
1X3=3	2X3=6	3X3=9	4X3=12
1X4=4	2X4=8	3X4=12	4X4=16
1X5=5	2X5=10	3X5=15	4X5=20
1X6=6	2X6=12	3X6=18	4X6=24
1X7=7	2X7=14	3X7=21	4X7=28
1X8=8	2X8=16	3X8=24	4X8=32
1X9=9	2X9=18	3X9=27	4X9=36
1X10=10	2X10=20	3X10=30	4X10=40

In [ ]:
user = int(input("Enter Table to Print: " ))
tableStart = int(input("Enter Table to start Print: " ))
tableEnd = int(input("Enter Table to End Print: " ))

for r in range(tableStart, tableEnd):
    for t in range(1, user+1):
        print(f'{t}X{r}={r*t}', end='\t')
        
    print()